
    <div class="hero">
        <nav>
            <ul>
                <li><a >Service</a></li>
                <li><a >Portfolio</a></li>
                <li><a >Blog</a></li>
                <li><a >Contact</a></li>
            </ul>
            <a class="btn">Contact Now</a>
        </nav>
        <div class="content">
            <span class="title">Network Engneer</span>
            <h1>Hello, I’m <span>Zakariyya</span></h1>
            <p>I’m working as a network engneer,  I have expertise in: VMware vSphere, Microsoft services like Active Directory (Domain Controller), DNS etc, Linux and opensource tools like Prometheus (NMS), I've also have hands on experience of SD-WAN.</p>
            <a  class="btn">Download CV</a>
        </div>
    </div>
